.SDJ {
    -fx-background-color: #570307;
}
.RWD {
    -fx-background-color: #3C3D5C;
}
.SEP {
    -fx-background-color: #370E25;
}
.linearStripes {
    /* -fx-background-color: linear-gradient(from 0px 0px to 0px 30px, repeat,  white 99%, black 1%); FIXME:This line doesnt work */
}
.transparent {
    -fx-background-color: transparent;
}
.mygridStyle Line {
    -fx-stroke: grey;
}


.nav:hover {
-fx-background-color:white;
-fx-text-fill:black;
-fx-background-radius: 30;
}
.nav {
    -fx-background-color: black;
    -fx-text-fill:white;
}

.grey {
    -fx-text-fill:grey;
}

.white {
    -fx-text-fill:white;
}

.accordion .titled-pane > *.content{
    -fx-background-color: null;
}

.accordion .titled-pane .title {
    -fx-background-color: transparent ;
}
/*FIXME:this is just a placeholder asset" */
.selected {
 -fx-background-color:red;
}


