.lesson {
  -fx-background-color: black;
}

.linearStripes {
    -fx-background-color: linear-gradient(from 0px 0px to 0px 60px, repeat,  white 99%, grey 1%);
}
.transparent {
    -fx-background-color: transparent;
}
.mygridStyle Line {
    -fx-stroke: grey;
}


.nav:hover {
-fx-background-color:white;
-fx-text-fill:black;
-fx-background-radius: 30;
}
.nav {
    -fx-background-color: black;
    -fx-text-fill:white;
}

.grey {
    -fx-text-fill:grey;
}

.white {
    -fx-text-fill:white;
}

.accordion .titled-pane > *.content{
    -fx-background-color: null;
}

.accordion .titled-pane .title {
    -fx-background-color: transparent ;
}

/*FIXME:this is just a placeholder asset" */
.selected {
 -fx-background-color:red;
}


#leftBar{
   -fx-background-color: #747474;

}

#bg{
-fx-background-color: #B1B1B1;
}





